.portfolio-container {
  width: 100%;
  min-height: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-container h5 {
  font-size: 50px;
}

.portfolio-list {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 100px;
  padding-inline: 30px;
  margin-top: 30px;
}

.project-card {
  width: 100%;
  height: auto;
  /* background-color: rgb(13, 12, 12); */
  border-radius: 10px;
  display: flex;
}

/* Project card description styles */

.projects-card-description p:nth-child(1) {
  color: var(--mainColor);
  font-size: 50px;
}

.projects-card-description {
  width: 100%;
  height: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Project card image styles */

.project-image-container {
  min-width: 560px;
  height: 300px;
  position: relative;
  border: 2px solid var(--mainColor);
  box-shadow: 0 0 10px var(--mainColor);
  border-radius: 10px;
  overflow: hidden;
}

.project-image-container img {
  display: block;
}

/* Projects button container styles */

.projects-button-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}

.projects-button-container button {
  min-width: 130px;
  height: 38px;
  background-color: var(--mainColor);
  border: 0;
  border-radius: 5px;
  color: black;
  transition: 0.2s all linear;
}

.projects-button-container .view-github-btn{
    background-color: transparent;
    border: 2px solid var(--mainColor);
    color: white;
    backdrop-filter: blur(5px);
}

.projects-button-container button:hover {
  cursor: pointer;
  transform: scale(1.05);
  rotate: 1deg;
}

@media screen and (max-width: 981px) {
  .project-card{
    flex-direction: column-reverse !important;
  }

  .project-image-container{
    width: 100%;
    height: auto;
    min-width: unset;
  }

  .projects-card-description{
    padding-inline: unset;
  }
}

@media screen and (max-width: 565px) {
  .projects-card-description{
    text-align: center !important;
    align-items: center !important;
  }

  .projects-button-container{
    justify-content: center !important;
  }
}

@media screen and (max-width: 365px) {
  .projects-button-container{
    flex-wrap: wrap;
  }

  .projects-button-container button{
    width: 100%;
  }
}